/* 导入账单弹窗样式 */
.import-form {
  ::v-deep .el-form-item {
    margin-bottom: 18px;
  }

  ::v-deep .el-form-item__label {
    color: #606266;
  }
}

.upload-tip {
  font-size: 12px;
  line-height: 20px;
  color: #909399;
}
