/* 选择房间弹窗样式 */
.sh-search {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.sh-label {
  margin-right: 10px;
  margin-left: 8px;
  font-size: 14px;
  color: #303133;
  white-space: nowrap;

  &:first-child {
    margin-left: 0;
  }
}

.sh-actions {
  margin: 14px 0;
}

.w-120 {
  width: 120px;
}

.w-150 {
  width: 150px;
}

.w-220 {
  width: 220px;
}

.sh-pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 14px;
}
